 <section>
  <!-- <section ng-controller="ChaptersCtrl"> -->
  <h1 class="h3">Chapters</h1>
  <div class="well">
    <ol>
      <chapter-listing ng-repeat="chapter in chapters | orderBy: 'order'" chapter="chapter"></chapter-listing>
      <!-- <li ng-repeat="chapter in chapters | orderBy: 'order'">
        <a href="#{{chapter.id}}">{{chapter.title}}</a>
        <ul>
          <li ng-repeat="scene in chapter.scenes">
            <a href="#{{scene.sceneID}}">{{scene.heading}}</a>
          </li>
        </ul>
      </li> -->
    </ol>
  </div>
</section>